.mobile-viewer {
    position: relative;
    margin-bottom: 10px;

}

.mobile-viewer iframe {
    border:0;
}
.mobile-viewer iframe::-webkit-scrollbar {
    width:0;
}

/* -----------------------------------------------------------------------------
 * IPHONE 6
 * -------------------------------------------------------------------------- */
.mobile-viewer-iphone6 {
    height:877px;
}

.mobile-viewer-iphone6 .mobile-viewer-container {
    position: absolute;
    background: url('../images/iphone-6-portrait.png') no-repeat;
    width: 422px;
    height: 869px;
}

.mobile-viewer-iphone6 iframe {
    width: 375px;
    height:667px;
    margin-top:104px;
    margin-left: 24px;
}

.mobile-viewer-iphone6 .tools {
    margin-top:10px;
    margin-left: 23px;
}

.mobile-viewer-iphone6 .tools a {
    float: left;
    display: block;
    text-align: center;
    width:25%;
    font-size:18px;
    color: #d9d9d9;
    transition:1s;
    line-height:25px;
}

.mobile-viewer-iphone6 .tools a:hover {
    color: #5e5e5e;
}

/* -----------------------------------------------------------------------------
 * SAMSUNG S7
 * -------------------------------------------------------------------------- */
.mobile-viewer-samsung-s7 {
    height:816px;
}

.mobile-viewer-samsung-s7 .mobile-viewer-container {
    position: absolute;
    background: url('../images/samsung-s7.png') no-repeat;
    width: 401px;
    height: 808px;
}

.mobile-viewer-samsung-s7 iframe {
    width: 360px;
    height:640px;
    margin-top:84px;
    margin-left: 18px;
}

.mobile-viewer-samsung-s7 .tools {
    margin-top:10px;
    margin-left: 23px;
}

.mobile-viewer-samsung-s7 .tools a {
    float: left;
    display: block;
    text-align: center;
    width:25%;
    font-size:18px;
    color: #d9d9d9;
    transition:1s;
    line-height:25px;
}

.mobile-viewer-samsung-s7 .tools a:hover {
    color: #5e5e5e;
}

@media (min-width:2000px) {
    .mobile-viewer {
        position: fixed;
        top:50px;
        left:10px;
    }
}


/* -----------------------------------------------------------------------------
 * MOBILE PREVIEW TABS AND SELECTBOX
 * -------------------------------------------------------------------------- */
.mobile-viewer-tab{
    display:none;
}

.mobile-viewer-tab-active{
    display: block;
}

.styled-select {
    height: 29px;
    overflow: hidden;
    width: 100%;
    margin-bottom:20px;
}

.styled-select select {
    background: transparent;
    border: none;
    font-size: 14px;
    height: 29px;
    padding: 5px;
    width: 268px;
}

/* -------------------- Rounded Corners */
.rounded {
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
}


/* -------------------- Colors: Background */
.black   {
    background-color: #000;
    color: #ffffff;
}


